$tablet: 678px;
$desktop: 1440px;
// colors
$dark: hsl(209, 23%, 22%);
$light: hsl(0, 0%, 100%);
$dark-bg: hsl(207, 26%, 17%);
$light-bg: hsl(0, 0%, 98%);
$text-on-dark: hsl(0, 0%, 100%);
$text-on-light: hsl(200, 15%, 8%);
$input-on-light: hsl(0, 0%, 52%);

//sizes width, height
$header-h: 80px;
$search-w-l: 480px;
$search-h-l: 56px;
$search-h-s: 48px;
$filter-w: 200px;
$filter-h-l: 56px;
$filter-h-s: 48px;
$card-w-l: 264px;
$card-h-l: 336px;

//sizes margin, padding
$container-px-l: 80px;
$container-px-s: 16px;
$header-mb-l: 48px;
$header-mb-s: 24px;
$search-mb-l: 48px;

$gap-l: 75px;
$gap-s: 39px;
