@use "./../../scss/utils/variables" as *;
@use "./../../scss/utils/mixins" as *;
.filter {
  width: 200px;
  height: $input-box-h-s;
  font-size: 12px;
  position: relative;
  .expand-btn {
    @include shadow();
    @include flexBetween();
    border-radius: 6px;
    padding: 0 18px 0 24px;
    height: 100%;
    width: 100%;
  }
  .selection {
    position: absolute;
    top: 100% + 20%;
    width: 100%;
    padding: 0.5em 18px 0.5em 24px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    z-index: 2;
    @include shadow();
    button {
      padding: 0.5em 0;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid transparent;
      &:hover,
      &:focus {
        // border-bottom: 1px solid $text-shaded;
        text-decoration: underline;
        text-decoration-color: $text-shaded;
        text-decoration-thickness: 2px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    height: $input-box-h-l;
    font-size: 14px;
  }
}
