@use "./../../scss/utils/variables" as *;

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: $gap-s;
  gap: $search-mb-l;

  @media screen and (min-width: $tablet) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      margin-bottom: $gap-l;
    }
  }
}
