@use "./../../scss/utils/variables" as *;
@use "./../../scss/utils/mixins" as *;
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.12);
  h1 {
    font-size: 16px;
    font-weight: 800;
    @media screen and (min-width: $tablet) {
      font-size: 24px;
    }
  }
  .container {
    height: $header-h;
    width: 100%;
    @include flexBetween();
  }

  .theme-toggler {
    @include flexBetween();
    font-size: 12px;
    gap: 10px;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }
}
