@use "../../scss/utils/variables" as *;
@use "../../scss/utils/mixins" as *;
.search-form {
  position: relative;
  width: 100%;
  min-width: fit-content;
  height: $input-box-h-s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $radius-l;
  font-size: 12px;
  overflow: hidden;
  @include shadow();
  .icon {
    position: absolute;
    left: 30px;
    height: 100%;
    color: inherit;
  }
  input {
    flex: 1;
    text-indent: 54px;
  }
  @media screen and (min-width: $tablet) {
    width: 60%;
    max-width: 480px;
    height: $input-box-h-l;
    font-size: 14px;
  }
}
