@use "./utils/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.App {
  font-size: 14px;
  letter-spacing: -0.005em;
  button,
  a {
    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  input {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    font-size: inherit;
    cursor: text;
    &::placeholder {
      color: inherit;
      font-size: inherit;
    }
  }
  .details-page {
    font-size: 16px;
  }
}
