@use "./utils/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.App {
  font-size: 14px;
  letter-spacing: -0.005em;
  h1 {
    font-size: 16px;
    font-weight: 800;
    @media screen and (min-width: v.$tablet) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
  }
  button {
    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
  }
  input {
    background-color: inherit;
    border: none;
    outline: none;
    font-size: inherit;
    cursor: text;
  }
  .details-page {
    font-size: 16px;
    h1 {
      font-size: 28px;
      letter-spacing: -0.007em;
    }
    h2 {
      font-size: 24px;
    }
  }
}
