@use "./utils/variables" as *;
@use "./utils/mixins" as *;
.button {
  @include shadow();
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border-radius: $radius-s;
  padding: 0.1em 1em;
  min-width: 96px;
  min-height: 28px;
  &.large {
    min-width: 105px;
    min-height: 32px;
  }
}

@media screen and (min-width: $tablet) {
  .button {
    font-size: 16px;
    border-radius: $radius-l;
    &.large {
      min-width: 136px;
      min-height: 40px;
    }
  }
}
