@use "./utils/variables" as v;
.App {
  min-height: 100vh;
  padding-top: v.$header-h + v.$header-mb-s;

  @media screen and (min-width: v.$tablet) {
    padding-top: v.$header-h + v.$header-mb-l;
  }
}

.container {
  padding: 0 v.$container-px-s;
  margin: auto;

  @media screen and (min-width: v.$tablet) {
    padding: 0 v.$container-px-l;
  }

  @media screen and (min-width: v.$desktop) {
    padding: 0;
    max-width: 1280px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: v.$tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
