@use "./utils/variables" as *;
.App {
  min-height: 100vh;
  padding-bottom: $gap-l;
  position: relative;
}

.container {
  padding: 0 $container-px-s;
  margin: auto;

  @media screen and (min-width: $tablet) {
    padding: 0 $container-px-l;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
    max-width: 1280px;
  }
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: $gap-s;
  grid-template-columns: repeat(auto-fit, $card-w);
  justify-content: center;
  grid-auto-rows: auto;
  grid-auto-flow: row;

  @media screen and (min-width: $desktop) {
    grid-gap: $gap-l $gap-l;
  }
}

.grid-item {
  width: $card-w;
  min-height: 336px;
  min-width: fit-content;
}
