@use "./utils/variables" as *;
.dark {
  background-color: $dark-bg;
  color: $text-on-dark;
  .bg {
    background-color: $dark;
  }
}

.light {
  background-color: $light-bg;
  color: $text-on-light;
  .bg {
    background-color: $light;
  }
  .text-shaded {
    color: $text-shaded;
  }
}
