@use "./utils/variables" as v;
.dark {
  background-color: v.$dark-bg;
  color: v.$text-on-dark;
  .bg {
    background-color: v.$dark;
  }
}

.light {
  background-color: v.$light-bg;
  color: v.$text-on-light;
  .bg {
    background-color: v.$light;
  }
}
