@use "./utils/variables" as v;
.dark {
  background-color: v.$dark-bg;
  color: v.$text-on-dark;
  .bg {
    background-color: v.$dark;
  }

  .search-form {
    color: v.$text-on-dark;
    input {
      color: v.$text-on-dark;
      &::placeholder {
        color: v.$text-on-dark;
      }
    }
  }
}

.light {
  background-color: v.$light-bg;
  color: v.$text-on-light;
  .bg {
    background-color: v.$light;
  }
  .search-form {
    color: v.$input-on-light;
    input {
      color: v.$input-on-light;
      &::placeholder {
        color: v.$input-on-light;
      }
    }
  }
}
