$dark: hsl(209, 23%, 22%);
$light: hsl(0, 0%, 100%);
$dark-bg: hsl(207, 26%, 17%);
$light-bg: hsl(0, 0%, 98%);
$text-on-dark: hsl(0, 0%, 100%);
$text-on-light: hsl(200, 15%, 8%);
$input-on-light: hsl(0, 0%, 52%);
